.header h1{
    font-size: 20px;
    color: red;
}
.card{
    width: 100%;
}
.profile{
    /* display: flex; */
    background-color: gray;
    max-width: 50%;
    width: 100%;
    box-shadow: 0 4px 8px ;
    padding: 20px;
}
.card-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profDiv{
    display: flex;
    flex-direction: column;
    padding: 10px;
   
}
.profdefinition{
    margin: 5px;
    
}